<form method="post" action="/first_form">
  <label>Name:
    <input type="text" name="name">
  </label>

  <label>License ID:
    <input type="text" name="license_id">
  </label>

  <input type="submit">
</form>
