<form method="post" action="/second_form">
  <label>DOB:
    <input type="date" name="dob">
  </label>

  <label>Male:
    <input type="radio" name="sex" value="male">
  </label>

  <label>Female:
    <input type="radio" name="sex" value="female">
  </label>

  <input type="submit">
</form>
