<h1>Diary</h1>

<div class="box">
  <a href="/signup">Sign up!</a>
  <form method="GET" action="/login">
    <label>Name<br/>
      <input type="text" name="name"/>
    </label>
    <label>Password<br/>
      <input type="password" name="password"/>
    </label>
    <input type="submit"/>
  </form>
</div>
