<h1>Welcome, <%= @name %></h1>

<div class="box">
  <p>Here are your diary entries:</p>
  <ul>
    <li>I went to space camp and won't stop talking about it maybe because i never became an astronaut like i wanted.</li>
  </ul>
</div>
