<section class="main">
  <h1 class="branding">Party on,
      <span class="name">Wayne</span><input type="text" class="input-name hidden">!
  </h1>

  <button class="btn way-no-way">no way</button>

  <div class="bohemians">
    <img alt="Extreme Closeup!" src="images/wayne.gif" class="extreme-closeup" width="140">
  </div>
</section>

<aside class="sidebar">
  <input type="text" class="input-phrase" placeholder="Fact">
  <div id="phrases"></div>
</aside>
