<div class="user">
 <p>User Login: <%= @user.login %></p>
 <p>Current Balance: <%= @user.balance %></p>
 <p>Birthdate: <%= @user.born_on %></p>
</div>
<%= link_to("Return to user list.", users_path) %>
