<h1>Welcome to Hogwarts!<h2>
<%= link_to 'View the Houses', '/houses' %>
<%= link_to 'View the Students', '/students' %>


<!-- Bonus
<h1>Entroll a Student</h1>
<%#= form_for(@student) do |f| %>
  <%#= f.text_field :name %>
  <%#= f.submit 'Enroll' %>
<%# end %>
-->
