<div class="general-content">
  <div class="compliment">
    <p><%= @greeting %><br/><%= @compliment %></p>
  </div>
  <a href="/<%= @name %>">
    <div class="link-box">
      <span>more...</span>
    </div>
  </a>
  <a href="http://ruby-doc.org/">
    <div class="link-box">
      <span>to the docs!</span>
    </div>
  </a>
</div>