<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Default Layout</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="wrapper">
    <%= yield %>
    <footer>
      <a href="/">Home</a>
    </footer>
  </div>
</body>
</html>
