<h1>Diary</h1>

<div class="box">
  <a href="/users/new">Sign Up!</a>
  <form method="GET" action="/login">
  <label>Name
    <input name="name" type="text">
  </label>
  <label>Password
    <input name="password" type="password">
  </label>
  <input type="submit">
</form>

</div>
