<!doctype>
<html>
<head>
  <title>Happy Holidays</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <a href="/date">CLick here to see the date</a>
  <p>Hello from default_layout.erb</p>
  <%= yield %>
  <p>Hello from default_layout.erb</p>
</body>
</html>

