<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Full House</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <nav>
        <a href="/">Full House Script Generator</a>
      </nav>
    </header>
    <%= yield %>
  </div>
</body>
</html>
