<div class="content">
  <h1>Full House Script Generator</h1>
  <img src="/img/fh-bridge.jpg" width="200px" />
  <p>This application will step you thru the process of building a generic script structure for any episode of Full House.</p>
  <a href="/opening"><button>Click here to get started!</button></a>
</div>