<ul class="countries-list" id="countries-container">

<!-- list all the countries here -->
</ul>

<div id="country-main">
  <h1 id="country-name">United States</h1>
  <p>Language: English</p>
  <p>Population: 310232863</p>
  <p>Area in Square Miles: 9629091</p>
  <div id="flag-overlay">
    <img src="http://www.geonames.org/flags/x/us.gif" alt="United States">
  </div>
  <label>
    <input type="checkbox" name="annihilated">
    Annihilate!
  </label>
</div>

