<ul class="countries-list" id="countries-container">

<!-- list all the countries here -->
<% @countries.each do |country| %>
  <li
  <% if country.annihilated %>class="annihilated"<% end %>
  data-id="<%= country.id %>">
    <%= country.name %>
  </li>
<% end%>
</ul>

<script>var countryCount = <%= @countries.size %></script>

<div id="country-main">
</div>

<script id="country-template" type="text/template">
  <div>
    <h1 id="country-name"><%%= name %></h1>
    <p>Language: <%%= language %></p>
    <p>Population: <%%= population %></p>
    <p>Area in Square Kilometers: <%%= area_in_sq_km %></p>
    <div id="flag-overlay">
      <img src="<%%= flag_image %>" alt="<%%= name %>">
    </div>
    <label>
      <input id="annihilate-checkbox" type="checkbox" name="annihilated">
      Annihilate!
    </label>
  </div>
</script>

