<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <title>Star Stalker</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <p class="logo"><a href="/">Star Stalker</a></p>
    <ul class="nav">
      <li><a href="/about">About</a></li>
      <li><a href="/stars">Stars</a></li>
    </ul>
  </header>
  <div class="main">
    <%= yield %>
  </div>
</body>
</html>
