<div class="shrine">
  <h1><%= @star[:name] %></h1>
  <img src="<%= @star[:image_url] %>" alt="Picture of <%= @star[:name] %>">
  <h2>In The Flesh</h2>
  <iframe src="http://www.youtube.com/embed/<%= @star[:embed_id] %>" frameborder="0"></iframe>
</div>
