body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.downsized {
  width: 80%;
  margin: 0 auto;
}

.pushy {
  margin-bottom: 40px;
}

.operation {
  margin: 0 auto;
  display: inline-block;
  width: 398px;
  vertical-align: top;
}

.gutter {
  display: inline-block;
  width: 5%;
  position: relative;
}

.main {
  width: 960px;
  margin: 0 auto;
}

img {
  display: block;
}

/*==================================*/
/* Write Your Styles below!!! */
/*==================================*/

.heart{
  position: absolute;
  top: 60px;
  left: -165px;
}

.butterflies{
  position: absolute;
  top: 174px;
  left: -187px;
}

.wishbone{
  position: absolute;
  left: 224px;
  top: 36px;
}

.breadbasket{
  position: absolute;
  top: 283px;
  left: 244px;
}
