<form id="new-contract">
  <label for="user-name">Name</label>
  <input id="user-name" type="text" name="user-name">
  <label for="born-on">Born On</label>
  <input id="born-on" type="date" name="born-on">
  <label for="terms-of-service">I agree to the terms of service</label>
  <input id="terms-of-service" type="checkbox" name="terms-of-service">
  <span id="warning-terms" class="hidden error">You must check the terms of service.</span>
  <button>Sign Contract</button>
</form>
