<% @stuff[:actions].each do |action| %>
  <h1><%= action %></h1>
<% end %>



<h2><%= @stuff[:question] %></h2>


<% @stuff[:options].each do |text,link| %>
  <a href="/<%= link unless link == '/' %>"><%= text.to_s.split('_').map { |x| x.capitalize }.join(' ') %></a>
<% end %>


