<h1>parents</h1>

<h2>Cut to one of the kids</h2>

<p>Which Parent?</p>

<ul>
  <a href='/dannytanner'>Danny Tanner</a>
  <a href='/unclejoey'>Uncle Joey</a>
  <a href='/unclejessey'>Uncle Jessey</a>
</ul>
