<!doctype html>

<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <header>
    <span>
      <h1>Full House Script Generator</h1>
      <a href="/">Home</a>
    </span>
  </header>

  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>

  <footer></footer>

</html>
