<!doctype html>

<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <header>
    <h1>Full House Script Generator</h1>
    <a href="/">Home</a>
  </header>

  <body>
    <div class="script">
      <%= yield %>
    </div>
  </body>

  <footer></footer>

</html>
