<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <title>Diary</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
  <div class="main">
    <img src="http://www.wpclipart.com/education/books/diary/diary_brown_T.png" alt="">
    <%= yield %>
  </div>
</body>
</html>
