<form method="post" action="/sketches">
  <label>Sketch Url:
    <input type="text" name="sketch_url">
  </label>

  <label>Date sketched:
    <input type="date" name="sketch_date">
  </label>

  <input type="submit">
</form>
