<h1>New Entry:</h1>

<form method="post" action="/entries">
  <textarea name="entry_text" cols="30" rows="10"></textarea>
  <label>Date:
    <input type="date" name="entry_date">
  </label>
  <input type="submit" value="Create Entry">
</form>
