<h1>Posts</h1>

<% @entries.each_with_index do |entry, id| %>
  <div>
    <span><%=entry["author"]%></span>
    <a href="/entries/<%= id+1 %>"><img src="<%= entry["url"]%>"></a>
    <span><%=entry["date"]%><span>
  </div>
<% end %>
