<div class="feed box">
  <div class="entry">
    <span class="author-text">Joey B.</span>
    <span class="date-text">Jan 5, 2015</span>
    <!-- <hr class="before"/> -->
    <img alt="Entry Image" src="/images/example-index.png" />
    <!-- <hr class="after"/> -->
    <span class="likes-text"><i class="fa fa-heart"></i> ... likes</span>
  </div>
</div>
