<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <title>The DMV</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
  <div class="main">
  <a href="/"><img src="http://krebsonsecurity.com/wp-content/uploads/2014/03/CAdmv.png" alt="california dmv logo"></a>
    <%= yield %>
  </div>
</body>
</html>
