<h1> Form 2 </h1>


<form method="post" action="/second_form">

  <label>Date of Birth:
   <input type="date" name="birthdate">
  </label>

<!--   <label>Gender:
    <select name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </label> -->

  <label>Male:
    <input type="radio" name="gender" value="male">
  </label>
  <label>Female:
    <input type="radio" name="gender" value="female">
  </label>

  <input type="submit">

</form>
