<h1>Third Form</h1>

<%= @user %>
<!-- give the form three inputs: one for the user's height and the other for the user's weight.
 -->
 <form method="post" action="/third_form">

  <label>
    <input type="text" value="height">
  </label>

  <label>
   <input type="number" value="weight">
  </label>

  <label>
    <input type="submit">
  </label>

</form>
