// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #fff;
  font: 200 13px/1.3 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}

html, body, .countries-list {
  height: 100%;
}

h1 {
  font-weight: 200;
}

h2, h3, h4, h5, h6 {
  font-weight: 100;
}

header {
  border-bottom: 1px solid gray;
}

header img {
  height: 50px;
}

label {
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.countries-list {
  border-right: 1px solid #ccc;
  border-size: border-box;
  float: left;
  list-style: none;
  margin: 0;
  margin-right: 4%;
  overflow: auto;
  padding: 0;
  width: 25%;
}

.countries-list li {
  background-color: #eee;
  border-top: 1px solid #ccc;
}

.countries-list li.playing {
  background-color: #fff;
}

.countries-list li.eliminated {
  background-image: url('../images/eliminated.png');
  background-position: 90% center;
  background-repeat:  no-repeat;
  background-size: auto 60%;
}

.countries-list a {
  display: block;
  padding: 5px 10px;
}

.country-main {
  float: left;
  width: 70%;
}

.country-main ul {
  list-style: none;
  padding: 0;
}

.country-main li {
  margin: 5px 0;
}

.country-main img {
  width: 80%;
}

.countries-list li.annihilated {
  text-decoration: line-through;
  background-image: url("http://pngimg.com/upload/fire_PNG6015.png");
  background-size: 9em;
  background-position-y: -3.5em;
  background-repeat: no-repeat;
  background-position-x: -2em;
}

h1.annihilated:after {
  content: url('http://png-4.findicons.com/files/icons/1686/led/16/nuclear.png');
  height: 10px;
  width: 10px;
}
