<!doctype html>
<html>
  <head>
    <title>Star Stalker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>

  <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/stars">Stars</a></li>
    </ul>
  </header>

  <body>
    <div>
    <%= yield %>
    </div>
  </body>

</html>
