<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mumblr</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
  <%= yield %>
</body>
</html>
