<h1> New Mumble </h1>


<form method="POST" action="/mumbles">
  <label>Text:     <input type="text"  name="text" required></label>
  <label>Image:    <input type="text"  name="image" ></label>
  <label>Date:     <input type="date"  name="date" ></label>
  <label>Tags:     <input type="text"  name="tags"></label>
  <label>Email:    <input type="email" name="email" required></label>
  <label>Handle:   <input type="text"  name="author_handle"></label>
  <label>Thumbnail:<input type="text"  name="author_thumbnail"></label>
  <input type="submit">
</form>
