body {
  font: 16px/1.5 Helvetica Neue, Helvetica, sans-serif;
  margin: 0;
}

form {
  color: black;
  padding: 10px 25px;
}

h1 {
  margin: 0;
}

a {
  color: #AFD359;
}

header {
  background-color: black;
}

img {
  display: inline;
  width: 20%;
}
