<div class="movie">
  <p><%= movie.title %>, <%= movie.rating %> Rated</p>

  <%= link_to("Go to this movie.", movie_path(movie)) %>
  <%= button_to "Delete this movie.", movie_path(movie), method: "delete", class: "delete_btn" %>
</div>
