/* Fonts brought in via the font_families.css file */
  /* Aldine-Light  (for links)      */
  /* Recta-Bold    (for bold text)  */
  /* Recta-Regular (for paragraphs) */

body {
  border: 8px solid rgb(255, 250, 185);
  min-height: 100%; /* ensures that body element will expand to the size of the window */
  font-family: 'Recta-Regular';
}

/* ensures that any divs set to display: inline-block will align along the top of their respective containers */
div {
  vertical-align: top;
}

