/* Fonts brought in via the font_families.css file */
  /* Aldine-Light  (for links)      */
  /* Recta-Bold    (for bold text)  */
  /* Recta-Regular (for paragraphs) */


body {
  padding-top: 50px;
  border: 8px solid rgb(255, 250, 185);
  min-height: 100%; /* ensures that body element will expand to the size of the window */
  margin: 0;
}

p{
  font-family: "Recta-Regular";
}

/* ensures that any divs set to display: inline-block will align along the top of their respective containers */
div {
  vertical-align: top;
}

.main{
  width: 960px;
  margin: 0 auto;
}

.logo-wrapper p{
  text-align: center
}

.half{
  display: inline-block;
  vertical-align: middle;
  /*width: 50%;
  padding-left: 0;*/
}

.nav{
  text-align: right;
  /*this is in place of width 50% not working*/
  padding-left: 38%;
  font-size: 18px;
}

.nav li{
  display: inline;
}

a{
  font-family: "Aldine-Light";
  text-decoration: none;
  margin-left: 50px;
  color: black;
}

a:hover{
  border-bottom: 3px solid #fffab9;
}

.product-wrapper{
  display: inline-block;
}

.two-thirds{
  width: 66%;
}

.one-third{
  width: 33%;
}

.image-wrapper{
  position: relative;
}

.footer{
  text-align: center;
}

.bold{
  font-family: "Recta-Bold";
}

.overlay{
  position: relative;
  bottom: 40px;
  margin: 0 auto;
  text-align: center;
}

.underline{
  border-bottom: 3px solid #fffab9;
  font-family: "Recta-Bold";
}


