<!doctype html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Parlour</title>

</head>
<body>
  <p><%= @result.capitalize %></p>
  <p><a href="/coin_toss">Try Again!</a></p>
</body>
</html>
