<!doctype html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Parlour</title>

</head>
<body>
  <p><%= @result.capitalize %>!</p>
  <% if @guess %>
    <p>You guessed: <%= @guess %>. <%= @message %></p>
  <% end %>
  <p><a href="/coin_toss<%= "?guess=#{@guess}" if @guess %>">Try Again!</a></p>
  <p><a href="/coin_toss?guess=heads">I choose Heads!</a></p>
  <p><a href="/coin_toss?guess=tails">I choose Tails!</a></p>
</body>
</html>
