<!-- _book.html.erb -->
<h1><%= link_to book.title, book_path(book) %></h1>
<p>Released On: <%= book.released_on %></p>
<p>Genre: <%= book.genre %></p>
<p>Author: <%= book.author.name %></p>

<!-- <%#  TODO add edit/delete stuff in books template %> -->
<!-- link to edit -->
<!-- link to delete -->

<!--   # create_table "books", force: :cascade do |t|
  #   t.string  "title",       null: false
  #   t.date    "released_on", null: false
  #   t.string  "genre",       null: false
  #   t.integer "author_id",   null: false
  # end -->
