<h1>
  <span class="blue">G</span><span class="red">o</span><span class="goldenrod">g</span><span class="blue">g</span><span class="green">l</span><span class="red">e</span>
</h1>

<!-- 'method' really means 'what HTTP request type to use?' -->
<!-- 'action' really means 'to what path does this form fire a request to?' -->
<form method="" action="">
  <label>Search:
    <input type="text" name="search_term" placeholder="what are you searching for?" required>
  </label>

  <label>Safe search?
    <input type="checkbox" name="safe_search">
  </label>

  <label>Results per page:
    <select name="results_per_page">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </label>

  <label>Date:
    <input type="date" name="date">
  </label>

  <label>Word Doc:
    <input type="file" name="word_doc">
  </label>

  <label>Rant text:
    <textarea name="rant_text" cols="30" rows="10"></textarea>
  </label>

  <label>Password:
    <input type="password" name="my_personanal_ultra_private_password">
  </label>

  <input type="hidden" value="travis.vanderhoop@gmail.com" name="user_email">
  <input type="submit" value="Search!">
</form>
