/* ===== Color Values ===== */
/* blue: rgb(16, 118, 221) */
/* red: rgb(249, 68, 30) */

/* Brings in the "Futura" Font */
@font-face {
  font-family: "Futura";
  src: url(../fonts/futura-medium-webfont.woff);
}

html {
  font-family: Futura;
  background-color: rgb(246, 240, 102);
}

/* ======================================= */
/*    Students: Write Your Styles Below!   */
/* ======================================= */
