<h1>About Star Stalker</h1>
<p>This is site was created as tribute to the late Boris Candid, a devoted fan of many pop stars who felt the need to create a site where scholars of the pop universe could share ideas, information, research and all kinds of star-related knowledge.</p>
