<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <title>The Bachelor</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <a href="/">
      <img src="http://cdn.media.abc.com/m/images/global/garnet/abccom_logo.png" alt="">
    </a>
  </header>
  <div class="main">
    <img class="banner" src="http://static.east.abc.go.com/service/image/ratio/id/756c3f86-d493-49eb-a01c-02bd7a69ac11/dim/1600.5x1.jpg" alt="">
    <%= yield %>
  </div>
</body>
</html>
