@charset "UTF-8";

@font-face {
  font-family: 'Abel';
  src: url("../fonts/abel.woff") format('woff');
}

html, body {
  font-family: 'Abel';
  color: #323232;
}

/* background color in header & footer: #323232 */
/* text color code for the header/footer: #DBDBDB       */
header{
  background-color: #323232;
  color: #DBDBDB;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  height: 70px;
}

header a {
  font-size: 1.35em;
  vertical-align: middle;
}

.headerlinks{
  margin-left: 10%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.headerlinks a, span{
  margin-right: 5px;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

a:visited{
  text-decoration: none;
  color: #DBDBDB;
}

.trav-container{
  position: relative;
  top: 200px;
  left: 60%;
}
.img-container{
  margin-left: 200px;
  margin-bottom: -21px;
}
body{
  display: inline;
  width: 960px
}

footer{
  background-color: #323232;
  color: #DBDBDB;
  height: 112px;
}

ul{
  padding-top: 20px;
  vertical-align: middle;
  margin-left: 0px
}

li{
  display: inline;
  vertical-align: middle;
  margin: 0 5px;
  text-align: center;
}

li img{
  vertical-align: middle;
}

footer span{
  font-size: 18px;
}

