<h1>Welcome to Bandio</h1>

<ul>
  <li><a href="/venues">List venues</a></li>
  <li><a href="/bands">List bands</a></li>
  <li><a href="/venues/new">Add a venue</a></li>
  <li><a href="/bands/new">Add a band</a></li>
  <li><a href="/events/search">Search concerts</a></li>
</ul>
