    <article>
    <h2>About Me</h2>
    <p>I'm a game developer based in NYC trying to make a transition into web development. My background was in electrical engineering, but I ended up working IT and hating it, so I'm pursuing the General Assemb.ly WDI course in the hopes that I can refine my web foundations. My interests are games, art, skateboarding, fencing, and everything tech.</p>
    <h3><a href='/index'>Back Home</a></h3>
    </article>
