<!doctype>
<html>
  <head>
    <title>Happy Holidays</title>
  </head>

  <% @date  %> <!-- executes but doesnt render -->
  <body>
    <h1>Hello from Date</h1>
    <p>The date and time is <%= @date %></p>
  </body>
</html>
