<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="gadl.css">
  </head>

  <body>
    <header>
      <img src="http://www.dennisliaw.com/wp-content/uploads/2014/04/pixelsketch.jpg" alt="a collage of superheros">
      <h1>Hi! I'm Dennis Liaw, Resident NYC Hacker Superhero</h1>
      <ul>
        <li><a href="http://www.github.com/centrodl">GitHub</a></li>
        <li><a href="http://www.linkedin.com/pub/dennis-liaw/40/544/1a9/">LinkedIn</a></li>
        <li><a href="https://twitter.com/deelizzles">Twitter</a></li>
      </ul>
    </header>

    <%= yield %>




  </body>
</html>
