<!doctype html>

<html>
  <head>
    <style>
      html{
        background-color: #<%= @color %>;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="compliment">
      <p>Greetings <%= @name %>
    <%= @compliment %></p>
  </div>
    <div class="button-row">
      <div class="button">
        <a href="/<%=@name%>">I'm still emotionally vacant. Give me another compliment.</a>
      </div>
      <div class="button">
        <a href="http://www.ruby-doc.org/">I'm ready to soldier on.</a>
      </div>
    </div>

  </body>
</html>

