<!doctype html>

<html>
  <head>

  </head>
  <body>
    <h1>HELLO <%= @name %></h1>
    <h1><%= @compliment %></h1>

    <ul>
      <li>
        <a href="/">I'm still emotionally vacant. Give me another compliment.</a>
      </li>
      <li>
        <a href="http://www.ruby-doc.org/">I'm ready to soldier on.</a>
      </li>
    </ul>

  </body>
</html>

