<h1>Phil Lamplugh</h1>

<img src="https://ga-core-production-herokuapp-com.global.ssl.fastly.net/assets/education/web-development-immersive/people/NYC-Phil-Lamplugh-53fc8ba1b22bdcca048cac54fcee7cc2.jpg">
